.TemplateWrap {
    width: 100%;
    margin: 14rem 0;
}
.TemplateWrapName {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: var(--header-height);
}
.TemplateWrapName ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-top: 4.5rem;
}
.TemplateWrapName li {
    font-size: 5.5rem;
}

.TemplateWrapName li:last-child {
    margin-top: 0.5rem;
    font-size: 1.8rem;
}

.Templates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    gap: 1rem; */
}
